input{
  padding: 0.5em;
  font-size: 1.45em;
  border: 0;
  border-bottom: 2px solid #333333;
  width: 40%;
  -webkit-box-shadow: none;
  box-shadow: 0;
  color: #8f5314;
  outline: none;
  position: absolute;
  left: 30%;
  
  &:focus{
    border-bottom-color: #8f5314;
  }
}
